
main {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.frame {
	padding: 1rem 5vw;
	position: relative;
	text-align: center;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child) {
	margin-right: 1rem;
}

.frame__info {
	display: block;
	margin: 1rem 0;
	color: var(--color-text-secondary);
}

.frame__nav {
	position: relative;
	margin: 1rem 0;
	pointer-events: all;
}

.content {
	display: flex;
	width: 100%;
	margin: auto 0 0 0;
	padding: 0 0 5vh;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	justify-content: space-between;
}

.slideshow {
	display: flex;
	justify-content: flex-end;
	padding: 0 0 2rem 5vw;
}

.slide {
	padding: 0 1rem;
	width: min-content;
}

.slide:first-child {
	padding: 0 1rem 0 0;
}

.slide:last-child {
	padding: 0 0 0 1rem;
}

.slide__number {
	display: block;
	font-family: tenez, serif;
	font-weight: 700;
	font-size: 2.5rem;
	color: var(--color-text-secondary);
}

.slide--current .slide__number {
	color: var(--color-text);
}

.slide__number::before {
	content: '- ';
}

.slide__caption {
	margin: 1rem 0 0 0;
	opacity: 0;
	pointer-events: none;
	hyphens: auto;
}

.slide--current .slide__caption {
	opacity: 1;
	pointer-events: auto;
}

.slide__more {
	display: block;
	width: min-content;
	white-space: nowrap;
	text-transform: lowercase;
	margin: 2rem 0 0 0;
	font-weight: bold;
}

.content__meta {
	color: var(--color-text-secondary);
}

.content__title-wrap {
	flex: none;
	padding: 2rem 5vw;
	position: relative;
	align-self: flex-start;
}

.content__title {
	margin: 0.5rem 0 0 0;
	font-family: tenez, serif;
	font-weight: 700;
	font-size: 2.75rem;
	line-height: 1;
}

@media screen and (min-width: 32em) {
	.content {
		flex-wrap: nowrap;
	}
	.content__title-wrap {
		width: calc(50% - 16px);
		height: 100%;
	}
	.content__title-wrap::after {
		content: '';
		width: 3rem;
		height: 3px;
		background: var(--color-text-secondary);
		position: absolute;
		bottom: 0;
	}
	.slideshow {
		padding: 0;
	}
	.slide__caption {
		height: 150px;
		display: flex;
		flex-direction: column;
	}
	.slide__more {
		margin-top: auto;
	}
}


@media screen and (min-width: 53em) {
	main {
		overflow: hidden;
	}
	.frame {
		display: grid;
		align-content: space-between;
		width: 100%;
		text-align: left;
		max-width: none;
		padding: 2rem;
		grid-template-columns: calc(50% - 16px) 25% calc(25% + 16px);
		grid-template-areas: 'title menu links';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
		flex-wrap: wrap;
	}
	.frame__title {
		flex: none;
		margin: 0 3rem 0.5rem 0;
	}
	.frame__links {
		flex: none;
		grid-area: links;
		justify-self: end;
		margin: 0 1rem 0 0;
	}
	.frame__nav {
		margin: 0;
		grid-area: menu;
	}
	.frame__info { 
		margin: 0;
	}
	.content__title-wrap {
		padding: 2rem 2rem 0;
	}
}